.match-lobby-grid{
  display: flex;
  flex-flow: row wrap;
}

.match-lobby-gamecard{
  margin: 10px;
}


#make-match-form-button{
  margin: 10px;
  display: none;
}

.game-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-count: 10;
  cols: 10;
}

.game-square{
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-color: black;
}
